<% content_for :title, "Showing task" %>

<div class="md:w-2/3 w-full">
  <%= render @task %>

  <div class="flex flex-col sm:flex-row gap-2 mt-5">
    <%= link_to "Edit this task", edit_task_list_task_path(@task.task_list, @task), class: "w-full sm:w-auto text-center rounded-md px-3.5 py-2.5 bg-blue-100 hover:bg-blue-50 inline-block font-medium" %>
    <%= link_to "Back to task list", task_list_path(@task.task_list), class: "w-full sm:w-auto text-center mt-2 sm:mt-0 sm:ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
    <%= button_to "Destroy this task", task_list_task_path(@task.task_list, @task), method: :delete, class: "inline w-full sm:w-auto rounded-md px-3.5 py-2.5 text-white bg-red-600 hover:bg-red-500 font-medium cursor-pointer", data: { turbo_confirm: "Are you sure?" } %>
  </div>
</div>
