<div id="<%= dom_id task_list %>" class="w-full sm:w-auto my-5 space-y-5">
  <div class="flex justify-between items-center">
    <h2 class="font-bold text-2xl"><%= link_to task_list.title, task_list, class: "hover:text-blue-800 hover:underline" %></h2>
  </div>

  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= task_list.description %>
  </div>
</div>
